<div id="configuracoes">
  <h3 style="text-align: center;">Configurações</h3>
  <div class="configuracoes">
    <h4>Alterar senha</h4>
    <form>
      <div class="label-float">
        <label for="senha-atual">Senha Atual: </label>
        <input type="password" id="senha-atual" name="senha-atual">
      </div>
      <div class="label-float">
        <label for="nova-senha">Nova senha:</label>
        <input type="password" id="nova-senha" name="nova-senha">
      </div>
      <div class="label-float">
        <label for="confirme-senha">Confirme a nova senha</label>
        <input type="password" id="confirme-senha" name="confirme-senha">
      </div>
      <div class="div-btn">
        <button type="button" onclick="alterarSenha()"> Alterar senha </button>
      </div>
    </form>
  </div>
</div>