<div class="container-interno-C-P"> 
  <h2>Pedidos</h2>
  <div class="filtros-pedidos">
    <label for="filtro">filtros: </label>
    <select name="filtro" id="filtro">
      <option value="aguardandoAceite">Aguardando Aceite</option>
      <option value="aceito">Disponivel Para Pagamento</option>
      <option value="processandoPagamento">Processando Pagamento</option>
      <option value="pagamentoAprovado">Pagamento Aprovado</option>
      <option value="preparando">Preparando</option>
      <option value="enviado">enviado</option>
      <option value="finalizado">Finalizado</option>
    </select>
  </div>

  <div class="container-pedidos">
    <div class="header-pedidos">
      <h2 class="status-el">status</h2>
      <h2 class="nome-el">Nome</h2>
      <h2 class="data-el">Data</h2>
      <h2 class="preco-el">preço</h2>
      <h2 class="recebedor-el">Recebedor</h2>
      <h2 class="produtos-el">produtos</h2>
      <h2 class="endereco-el">endereço</h2>
    </div>
    <div class="body-pedidos">

    </div>
  </div>
  

</div>