<div class="section-entrega-retira">
  <h2>Como você deseja receber seu pedido ?</h2>
  <h3 class="aviso-escolha-opcao"> Escolha uma opção para continuar </h2>

  <div class="card-enderecos div-escolha-endereco">
    <!-- <label for="retirar">Retirar</label> -->
    <input type="radio" value="retirar" cidade="retirar" name="escolha" id="entrega-retira">
    <h3 class="nome-loja"></h3>
    <p class="endereco-loja"></p>
    <a class="ver-no-mapa" href="">Ver no mapa</a>
  </div>

  <div class="enderecos">

  </div>

  <div class="card-enderecos add-endereco">
    <button onclick="exibirFormAddEndereco()">Adicionar endereço</button>
  </div>

  <div id="form-add-endereco">

  </div>

  <div class="div-jutify-center" >
    <button onclick="ContinuarParaAreaDeFrete()" class="btn-continuar-ER btn-red">Continuar</button>
  </div>
</div>