<div class="section-ecolher-endereco">

  <h2 class="titulo-escolha-endereco">Escolha um endereço para entrega</h2>
  <h3 class="aviso-escolha-endereco"> Escolha um endereço para continuar </h2>
  <div class="div-escolher-endereco">

  </div>

  <button onclick="bntContinuarParaAreaDeFrete()" class="btn-red btn-escolher-endereco">Continuar</button>
  <p class="p-add-outro-ende">Nenhum desses ? <button onclick="getFormCadastarEndereco()" class="btn-link-red">Adicionar endereço</button></p>
</div>