
  <div class="mais-informacoes">

    <button onclick="mostrarMaisInformacoes()">Mais informações <span id="seta-footer" class="seta-footer-closed">&#10095</span></button>

    <div id="informacoes">
      <div class="card-informacoes">
        <h3>Contato</h3>
        <ul>
          <li><a href="./contato.html">Formulário de contato</a></li>
          <li><a href="https://wa.me/5511943133043">WhatsApp</a></li>
          <li><a href="mailto:guibarreto64042@gmail.com">E-mail</a></li>
        </ul>
      </div>

      <div class="card-informacoes">
        <h3>Redes sociais</h3>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>

      <div class="card-informacoes">
        <h3>Administração</h3>
        <ul>
          <li><a href="/src/views/controle/controle.html">Controle</a></li>
          <!-- <li><a href="#">Area do vendedor</a></li>
          <li><a href="#">Twitter</a></li> -->
        </ul>
      </div>

      <div class="card-informacoes">
        <h3>Minha conta</h3>
        <ul>
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Minhas compras</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p>
    <a href="/src/views/contato.html?trabalheConosco='true'">Trabalhe conosco</a>
    <a href="/src/views/apendices/termos.html">Termos e condições</a>
    <a href="/src/views/contato.html">Contato</a>
  </p>
  <p class="GB">Desenvolvido por <a href="/src/views/contato.html?Guilherme='true'">Guilherme Barreto</a></p>
