
<form class="form-adicionar-madeira"  action="/adicionarMadeiramentoJundiai" method="post">
  
  <div class="form-add-madeira-nome">
    <input placeholder="Nome" id="nome" type="text" name="nome">
  </div>

  <div class="form-add-madeira-madeira">
    <input placeholder="madeira" id="madeira" type="text" name="madeira">
  </div>

  <div class="form-add-madeira-medida">
    <input placeholder="medida" id="medida" type="text" name="medida">
  </div>

  <div class="form-add-madeira-preco">
    <input placeholder="preco" id="preco" type="text" name="preco">
  </div>

  <div class="form-add-madeira-imagem">
    <input placeholder="imagem" id="imagem" type="text" name="imagem">
  </div>

  <div class="form-add-madeira-categoria">
    <input placeholder="categoria" id="categoria" type="text" name="categoria">
  </div>

  <div class="form-add-madeira-descricao">
    <input placeholder="descricao" id="descricao" type="text" name="descricao">
  </div>

  <div class="form-add-madeira-madetex">
    <select id="select-madetex">
      <option value="Jundiai">Jundiaí</option>
      <option value="Clpta">Campo Limpo Pta</option>
      <option value="Itupeva">Itupeva</option>
      <option value="Mogi">Mogi Mirim</option>
  </select>
  </div>

  <div class="form-add-madeira-btn" >
    <button type="button" onclick="submitProd('Madeiramento')">Adicionar</button>
  </div>

</form>