
  <form  class="form-adicionar-produto" action="/adicionarProdutoJundiai" method="post">

    <div class="form-add-prod-nome">
      <input placeholder="Nome" id="nome" type="text" name="nome">
    </div>

    <div class="form-add-prod-descricao">
      <input placeholder="descrição" id="descricao" type="text" name="descricao">
    </div>

    <div class="form-add-prod-preco">
      <input placeholder="preço" id="preco" type="text" name="preco">
    </div>

    <div class="form-add-prod-categoria">
      <input placeholder="Categoria" id="categoria" type="text" name="categoria">
    </div>

    <div class="form-add-prod-img">
      <input placeholder="imagem" id="imagem" type="text" name="imagem">
    </div>

    <div class="form-add-prod-quantidade">
      <input placeholder="quantidade" id="quantidade" type="text" name="quantidade" >
    </div>

    <div class="form-add-prod-madetex">
      <select id="select-madetex">
        <option value="Jundiai">Jundiaí</option>
        <option value="Clpta">Campo Limpo Pta</option>
        <option value="Itupeva">Itupeva</option>
        <option value="Mogi">Mogi Mirim</option>
    </select>
    </div>

   <div class="form-add-prod-btn" >
    <button type="submit">Adicionar</button>
   </div>

  </form>
