<div id="menu-mobile" class="container-menu">

  <button id="btn-x" class="x">
    <div class="one"></div>
    <div class="two"></div>
  </button>

  <div class="area-usuario-menu">
    <div class="img-usuario">
      <svg height="50px" width="50px">
        <circle cx="24.5" cy="24.5" r="23" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
        <circle cx="24.5" cy="15" r="6" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
        <path d="M 13 34 q 12 -15 24 0" stroke="red" stroke-width="2" fill="none"></path>
        <line x1="11.62" y1="34.8" x2="38.48" y2="34.8" style="stroke:red; stroke-width:2"></line>
      </svg>
    </div>
    <p>Olá! faça login ou cadastre-se</p>
  </div>

  <div class="area-botoes-menu">
    <section class="btns-default">
      <div>
        <button class="btn-left-menu"><a href="./src/views/user/login.html">Entre</a></button>
        <button class="btn-right-menu"><a href="./src/views/user/cadastrese.html">Cadastre-se</a></button>
      </div>
    </section>
    <section class="btns-logado">
      <div>
        <button class="btn-left-menu"  onclick="sair()" class="entre">sair</button>
        <button class="btn-right-menu" ><a href="./src/views/minhaConta.html">Minha conta</a></button></a>
      </div>
    </section>
  </div>

  <div class="area-nav-menu">
    <nav>
      <ul>
        <li> <a href="./src/views/minhaConta.html">Minhas Compras</a></li>
        <li><a href="./src/views/produtos.html?param=portas&column=sub_sub_categoria">Portas</a></li>
        <li> <a href="./src/views/produtos.html?param=janelas&column=sub_sub_categoria">Janelas</a></li>
        <li> <a href="./src/views/produtos.html?param=decks&column=sub_categoria">Decks</a></li>
        <li> <a href="./src/views/produtos.html?param=telhas&column=categoria"> Telhas </a></li>
        <li> <a href="./src/views/produtos.html?param=forro&column=sub_categoria"> Forros </a></li>
        <li> <a href="./src/views/produtos.html?param=vigamentos&column=sub_categoria"> Vigamentos </a></li>
        <li> <a href="./src/views/produtos.html?param=cambara&column=madeira">Madeira cambará</a></li>
        <li> <a href="./src/views/produtos.html?param=peroba&column=madeira">Madeira peroba</a></li>
        <li> <a href="./src/views/produtos.html?param=pinus&column=madeira">Madeira pinus</a></li>
        <li> <a href="./src/views/produtos.html?param=cedro&column=madeira">Madeira cedrinho</a></li>
        <li> <a href="./src/views/produtos.html?param=acessorios&column=categoria"> Acessórios </a></li>
        <!-- <li> <a href="#"> Churrasqueiras </a></li>
        <li> <a href="#"> Tintas e Verniz</a> </li> -->
      </ul>
    </nav>
  </div>

</div>