<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Madetex - Contato </title>
</head>
<body>
  <header class="header-apendices">
    <div class="logo-apendices">
      <svg height="25" width="130">
        <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
        <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
      </svg>
      <svg height="23" width="130">
        <a class="logo" href="../../index.html">
          <text x="8" y="16" stroke="3" fill="red">MADETEX</text>
        </a>
      </svg>
     </div>
  </header>
  
  <h1>Sobre seus dados</h1>
  <p>Seus dados são criptográfados e armazenados em nosso servidores de banco de dados, onde só podem ser acessados por você, como envolve criptográfia nem mesmo os funcionarios podem vê-los</p>
  <p>Nós não compartilhamos ou vendemos seu dados para terceiros</p>
  <p>Seus dados são usados apenas para melhoria da experiência em nosso site</p>
  <p>Os dados referentes a pagamento, como cartão de crédito, debito, etc. São processados e armazenados pelo <a href="https://www.mercadopago.com.br/">MercadoPago</a></p>

  <h1>Sobre as compras</h1>
  <p>A madeira por ser um produto natural, não é padronizado e na mesma espécie como por exemplo o cambará, podem ter tons variados de cores </p>
  <p>As madeiras em sua maioria estão "molhadas" (recem cortadas) e por isso devem ser armazenadas empilhadas e alinhadas para que o processo de secagem não as entorte, não há problema em usa-la para o telhado mesmo estando molhadas se prede-las com pregos, parafusos, ou outros meios que têm o mesmo resultado</p>
  <p>é comum que a madeira tenha uma leve envergadura, o que pode ser ajustado no momento da instalção</p>
  <p>Madeiras aparelhadas ou/com cortes fora do padrão (de 0,50cm em 0,50cm a partir de 1,00m. Por exemplo: 1,50m, 2,00m, 2,50m...) tem uma taxa de devulução de 10% do valor pago pelas mesmas, isso se deve a dificuldade de comercia-las novamente, as vezes até perdendo a peça</p>
  <p>As madeiras aparelhadas e cortadas têm medidas menores do que a mesma bruta, pos no processo de aparelhagem ou corte perde aproximadamente 0,50cm nos lados que foram processadas</p>
  <p>A largura da madeira pode variar até 1cm, se aparelhada até 1,30cm</p>

  <h1>Sobre a entrega</h1>
  <p>Os entregadores descarregam os produtos em até 5 metros de onde o caminhão conseguir parar e não sobem/descem escadas</p>
  <p>As entregas são feitas das 8:00 horas às 17:00 horas em dias úteis e das 8:00 horas às 12:00 horas nos sábados</p>
  <p>Não é possivél agendar horario de entrega, caso não tenha disponibilidade do dia todo, peça para um vizinho ou conhecido receber e nos avise</p>

</body>
</html>