
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;500 & family= Wix+Madefor+Display:wght@500;700;800 & display= trocar');

html{
  font-size: 16px;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$borda: 1px solid #fff;
$font: 'Montserrat', sans-serif;
$fontClara: #fff;
$primaryColor: #1c1c1c;
$secondaryColor: red;
$darkRed: #951515;


@mixin flex($val){
  display: flex;
  align-items: center;
  @if $val == "around"{
    justify-content: space-around;
  }
  @else if $val == "evenly"{
    justify-content: space-evenly;
  }
  @else if $val == "between"{
    justify-content: space-between;
  }
  @else{
    justify-content: center;
  } 
}