
.container-produtos{
  background-color: #1c1c1c05;
  .container-carrosel{
    @include flex(center);
    height: 380px;
    overflow: hidden;

    .carrosel-interno{
      width: 93%;
      @include flex(between);
      gap: 1.5rem;
      height: 415px;
      overflow-x: overlay;

      .card-prod{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55% 12% 8% 20% 5%;
        transition: .2s;
        padding: 15px;
        min-width: 220px;
        max-width: 220px;
        min-height: 340px;
        max-height: 340px;
        box-shadow: 2px 3px 3px #0005;
        border-radius: 8px; 
        background-color: #fff;

      &:hover{
        cursor: pointer;
        min-height: 360px;
        max-width: 220px;
        box-shadow: 2px 5px 5px #0005;
      }
        .img-produto{
          grid-row: 1 / 2;
          width: 100%;
          img{
            width: 100%;
            height: 180px;
          }
        }
        .preco-produto,.parcelamento{
          font-family: 'Roboto';
          font-weight: 300;
        }
        .preco-produto{
          grid-row: 2 / 3;
          padding: 8px 0 0 0;
          letter-spacing: 0.6px;
          font-size: 1.6rem;
        }
        .parcelamento{
          grid-row: 3 / 4;
          color: green;
          font-size: 1rem;
        }
        .titulo{
          grid-row: 4 / 5;
          font-weight: 300; 
          font-size: 1.1rem;
        }
        .loja{
          grid-row: 5 / 6;
          font-size: .9rem;
          font-weight: 300;
          color: #0009;
        }
      }
    }
  }   
}

.produto-oferta{
  letter-spacing: 1px;
  display: inline-block;
  font-size: .9rem;
  margin-left: 10px;
  font-weight: bold;
  padding: 3px 8px;
  background-color: rgb(6, 161, 6);
  border-radius: 5px;
  color: #fff;
}

.titulo-carrosel-produtos{
  font-family: 'Roboto';
  font-weight: 300;
  padding-left: 7.5%;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 40px 0 20px 0;
  
  a{
    text-decoration: none;
    letter-spacing: normal;
    font-size: .9rem;
    color: $darkRed;
  }
}