@import 'base';

.container-carrosel-madetexs{
  height: 13rem;
  .container-interno-madetexs{
    height: 10rem;
    overflow: hidden;
  }

  h2{
    width: 31rem;
    margin: 1.8rem auto 0 auto;
    text-align: center;
    font-weight: 500;
    color: #1c1c1c;
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  
  sup{
    display: block;
    font-size: 0.9rem
  }

  .carrosel-madetexs{
   @include flex(evenly);
   height: 11rem;

    .item-madetexs{
      min-width: 14rem;
      height: 8rem;
      margin-inline: 1rem;
      border-radius: 20px;
      color: #fff;
      background-color: black;
      display: flex;
      justify-content: unset;
      flex-direction: column;
      align-items: center;
    }

    h3{
      font-size: 1.5rem;
    }

    .logo-madetexs{
      margin: 10px;
      width: 10.1rem;

      svg{
        width: 10rem;
        height: 1.85rem;
      }
      a{
        font-size: 1.7rem;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }

  .bnt-madetexs{
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .container-carrosel-madetexs{
    height: 12.87rem;
    .container-interno-madetexs{
      width: 100%;
      @include flex(center);

      .carrosel-madetexs{
        @include flex(between);
        width: 93%;
        overflow-x: overlay;
      }
    }

    .bnt-madetexs{
      display: block;
    }
  }
}

@media screen and (max-width: 490px){
  .container-carrosel-madetexs{
    height: 230px;
    h2{
      width: 90%;
    }
  }
}