@import 'base';

.container-carrosel-madetexs{
  height: 190px;
  .container-interno-madetexs{
    height: 135px;
    width: 100%;
    @include flex(center);
    overflow: hidden;
  }
  h2{
    margin: 20px auto 0 auto;
    text-align: center;
    font-weight: 500;
    color: #1c1c1c;
    letter-spacing: 0.8px;
    font-size: 17px;
    line-height: 25px;
  }
  sup{
    display: block;
    font-size: 13px;
  }
  .carrosel-madetexs{
    @include flex(between);
    width: 93%;
    overflow-x: overlay;
    height: 200px;
   

    .item-madetexs{
      padding: 6px;
      width: 220px;
      margin-inline: 16px;
      border-radius: 20px;
      background-color: black;
      display: flex;
      justify-content: unset;
      flex-direction: column;
      align-items: center;
    }

    h3{
      font-size: 24px;
    }

    .logo-madetexs{
      margin: 10px 24px;

      a{
        font-size: 28px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
}

.bnt-madetexs{
  display: block;
}

@media (min-width: 1060px){
  .container-carrosel-madetexs{
    height: 170px;
    .container-interno-madetexs{
      height: 150px;
      .carrosel-madetexs{
        @include flex(evenly);
        height: 220px;
        overflow-x: hidden;
      }
    }
  }
  .bnt-madetexs{
    display: none;
  }
}

@media (min-width: 1430px){
  .container-carrosel-madetexs{
    h2{
      font-size: 22px;
    }
    sup{
      font-size: 14px;
    }
  }
}
@media (min-width: 1800px){
  .container-carrosel-madetexs{
    .container-interno-madetexs{
      height: 180px;
    }
    .carrosel-madetexs{
      .item-madetexs{
        padding: 20px;
        width: 250px;
      }
    }
    h2{
      font-size: 23px;
    }
    sup{
      font-size: 15px;
    }
  } 
}