.escolha-madetex{
  ul{
    list-style: none;
    @include flex(evenly);
    background-color: $secondaryColor;

    li{
      padding: 5px;

       &:hover{
        background-color: $darkRed;
       }

       a{
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}
nav.nav-controle{
  height: 80px;
  @include flex(center);
  gap: 10px;

  button{
    cursor: pointer;
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    border: 1px solid #0005;
    background-color: transparent;
  }
}
#main-controle{
  display: grid;
  grid-template-columns: 220px calc(100% - 220px);
  height: calc(100vh - 115px);

  #menu-controle{  
    grid-column: 1 / 2;
    background-color: rgba(239, 9, 9, 0.33);
    box-shadow: 0px 5px 5px 2px #0009;
    border-radius: 0px 5px 5px 0px;

    ul{
      font-size: 1.1rem;
      padding: 5px 15px;
      list-style: none;
    }
    li.item, span{
      cursor: pointer;
      line-height: 1.7rem; 
      
      &:hover{
        color: $darkRed;
      }
    }
  }
   #conteudo-controle{
    grid-column: 2 / 3;
   }
}
.container-cards-controle{
  width: 90%;
  height: 270px;
  margin: 0 auto;
  @include flex(between);
  overflow-x: overlay;
  gap: 10px;

  .card{
    padding: 5px;
    min-width: 200px;
    background-color: #ffffffe9;
    box-shadow: 0px 5px 5px #0005;
    max-width: 200px;
    min-height: 220px;
    border-radius: 10px;

    img{
      width: 80%;
      margin-inline: 10%;
      height: 120px;
    }
    .titulo{
      font-weight: 500;
    }
    button{
      padding: 5px;
      border-radius: 5px;
      width: 60px;
      cursor: pointer;
    }
    .apagar{
      color: #fff;
      border: 0;
      margin: 0 22px 0 22px;
      background-color: red;
    }
    .editar{
      padding: 3px;
      border: 2px solid black;
      background-color: transparent;

    }
    
  }
}

