.card-entre{
  width: 40% ;
  min-width: 360px;
  padding: 2rem;
  border-radius: 10px;
  margin: 50px auto;

  h1, p{
    text-align: center;
  }
  div{ 
    position: relative;
    margin-block: 10%;
    input{
      width: 100%;
      padding: 1rem;
      border-radius: 10px; 
      border: 2px solid #000;
      outline: none;
      font-size: 1rem;
      transition: all .2 ease-out;
      background-color: transparent;
    }

    label{
      font-size: 1.3rem;
      pointer-events: none;
      margin: 0.4rem;
    }
  }
  .btn-entre{
    cursor: pointer;
    padding: 1rem 5rem;
    font-size: 1.3rem;
    background-color: red;
    border-radius: 1rem;
    color: #fff;
    border: 0;
  }
  a{
    color:#000;
  }
}