
@import 'base';

header{
  background-color: $primaryColor;
}
.container-header{
  width: 100%;
}
.container-header-top{
  height: 100px;
  display: grid;
  align-content: center;
  justify-content: space-between;
  grid-template-columns: 20% 50% 25%;

  .area-logo{
    margin-inline: 30px;
    grid-column: 1 / 2;

    a{
      font-size: 29px;
      font-weight: 800;
    }

    .logo-pequeno{
      width: 130px;
      height: 48px;
      display: none;
    } 
    .logo-grande{
      width: 165px;
      height: 55px;
      display: block;
      svg{
        width: 165px;
        height: 30px;
      }
    }
  }
}

.area-pesquisa{
  @include flex(center);
  grid-column: 2 / 3;
  gap: 2px;
  input, button{
    width: 90%;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    &:focus{
      border-radius: 5px 5px 0 0;
    }
  }
  div{
    height: 35px;
  }
  button{
    width: 35px;
    padding: 0;
    background-color: $fontClara;
    &:hover{
      cursor: pointer;
    }
  }
  ul{
    display: none;
    max-height: 200px;
    top: 4.18rem;
    background-color: #fff;
    position: absolute;
    list-style: none;
    width: 48%;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;

    li{
      border-bottom: .6px solid #0002;
      line-height: 2.5rem;
      padding-left: 10px;
      font-size: 1.1rem;
      text-decoration: none;
      color: #000;
      
      &:hover{
        background-color: #0002;
      }
    }
  }
}

.area-usuario{
  display: flex;
  align-items: center;
  justify-content: left;
  grid-column: 3 / 4;
  color: $fontClara;

  .usuario{
    @include flex(center);
    position: relative;
    gap: .8rem;
    .svg-user{
      cursor: pointer;
      display: block;
    }
    .svg-user-grande{
      cursor: pointer;
      display: none;
    }
    .mensagem-login p{
      font-weight: bold;
      a{
        color: $fontClara;
      }
    }
  }

  .menu-hamburguer-header{
    display: none;
  }
}

.carrinho-de-compras{
    position: relative;
    cursor: pointer;
    margin-left: 1.2rem;

    .carrinho-p{
      display: block;
    }
    .carrinho-g{
      display: none;
    }
    .itens-no-carrinho{
      position: absolute;
      width: 1.125rem;
      height: 1.125rem;
      line-height: 1.125rem;
      border-radius: 50%;
      text-align: center;
      background-color: $darkRed;
      left: 75%;
      top: -15%;
      font-size: 0.75rem;
    }
}

.navTopo{
  @include flex(center);
  width: 100%;
  height: 30px;
  background-color: red;
}

.container-header-bottom{
  color: $primaryColor;
  height: 40px;
  background-color: $secondaryColor;
  display: grid;
  gap: 10px;
  align-content: center;
  grid-template-columns: 15% 65% 15%;

  .categorias{
    cursor: pointer;
    position: relative;
    grid-column: 1 / 2;
    gap: 5px;
    @include flex(center);
    p{
      font-size: 1.2rem;
      font-weight: 500;

      span{
        line-height: .9rem;
        display: inline-block;
        // transform: rotate(90deg);
      }
    }
    ul{
      display: none;
      z-index: 1;
      padding: 20px;
      position: absolute;
      top: 30px;
      left: 30px;
      width: 200px;
      list-style: none;
      background-color: #1c1c1c;
      border-radius: 5px;
      li a:hover{
        color: red;
      }
      li a{
        font-size: .9rem;
        line-height: 2.2rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .nav-header-bottom{
    grid-column: 2 / 3;
    nav{
      ul{
        @include flex(between);
        list-style: none;
        li{
          cursor: pointer;
          font-family: $font;
          font-size: 1rem;
          letter-spacing: 0.5px;
          font-weight: 500;
          transition: .4s;
          
          a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.859);

            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
  }
  .oferta-dia{
    @include flex(center);
    grid-column: 3 / 4;

    a{
      text-decoration: none;
      color: #000;
      font-size: 1.1rem;
      transition: .3s;
      font-weight: 600;

      &:hover{
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
}

// o que está comentado é para ver se falta, se faltar descomenta : apague
.container-menu{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  z-index: 1;
  background-color: #1c1c1c;
  color: #fff;

  .x{
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2rem;
    top: 1rem;

    .one, .two{
      position: relative;
      background-color: red;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
    .one{
      transform: rotate(135deg);
      top: 4px;
    }
    .two{
      transform: rotate(-135deg);
    }
  }
}
.area-usuario-menu{
  @include flex(center);
  flex-direction: column;

  .img-usuario{
    width: 37px;
    height: 50px;
    margin:1.2rem auto;
  }
}

.area-botoes-menu{
  padding: 0.5rem 0 1.2rem 0;
  div{
      width: 100% ;
      @include flex(center);
      gap: 1.5rem;
      margin-top: .5rem;
  }
  .btns-logado{
    display: none;
  }
  button{
    width: 40%;
    height: 50px;
    border-radius: 1.5rem;

    a{
      font-size: 1.1rem;
      font-weight: 600;
      width: 100%;
      line-height: 100%;
      text-decoration: none;
    }
  }
  .btn-left-menu{
    background-color: red;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    a{
      color: #fff;
    }
  }
  .btn-right-menu{
    border: 3px solid #fff;
    height: 46px;
    background-color: #fff;
    a{
      color: #000;
    }
  }
}
.area-nav-menu{
  overflow-y: scroll;
  height: 76%;
  background-color: #fff2;
  nav{
    padding-top: 1.2rem;
   li{
    height: 2.5rem;
      a{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 1300px){
  .area-usuario{
    .usuario{
      .svg-user{
        display: none;
      }
      .svg-user-grande{
        display: block;
      }
    } 
  }

  .carrinho-de-compras{

    .carrinho-p{
      display: none;
    }
    .carrinho-g{
      display: block;
    }
    .itens-no-carrinho{
      left: 75%;
      top: -15%;
    }
}
}

@media screen and (max-width: 960px){

  .container-header-top{
    height: auto;
    grid-template-columns: 30% 50%;
    grid-template-rows: 65px 50px;

    .menu-hamburguer-header{
      display: block;
      div{
        background-color: $secondaryColor;
      }
    }
  }

  .area-pesquisa{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    ul{
      top: 107px;
      width: 95%;
    }
  }

  .area-logo{
    @include flex(evenly);
    grid-column: 1 / 2;
    margin-inline: 0;
  }
  
  .area-usuario{
    grid-column: 2 / 3;
    justify-content: space-evenly;

    .mensagem-login{
      display: none;
    }
  }
  .carrinho-de-compras{
    margin-left: 0;
  }

  .container-header-bottom{
    grid-template-columns: 20% 55% 20%;
    gap: 1rem;

    .nav-header-bottom{

      .ultimo{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 790px){
  .container-header-bottom{
    gap: 0.6rem;

    .nav-header-bottom{

      .penultimo{
        display: none;
      }
    }
  }
 
}

@media screen and (max-width: 600px){
  html{
    font-size: 15px;
  }
  .container-header-top{
    .area-logo{
      .logo-grande{
        display: none;
      }

      .logo-pequeno{
        display: block;
        a{
          font-size: 20px;
          font-weight: 800;
          letter-spacing: 1px;
        }
        
      }
      
    }
  }
  
  .container-header-bottom{
    gap: 0;
    grid-template-columns: 35% 30% 35%;
    .nav-header-bottom{
      @include flex(center);
      .categorias{
        display: block;
      }
      nav{
        display: none;
      }
    }
  }
  .penultimo{
    display: none;
  }
}

@media screen and (max-width: 490px){
  html{
    font-size: 13px;
  }
  .container-header-top{
    grid-template-columns: 40% 60%;  
  }
  .container-header-bottom{
    grid-template-columns: 50% 50%;

    .nav-header-bottom{
      display: none;
    }

    .oferta-dia{
      grid-column: 2 / 3;
    }
  }
}
