// Prefixo - mc = minha conta
// prefixo nvc = conainer nav conteudo
.container-nav-conteudo{
  width: 100%;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 45px calc(100% - 40px);
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 50px;
}
.cnc-nav{
  position: relative;
  grid-column: 1 / 2;
  background-color: #353535;
  background: linear-gradient(to bottom, red 10%, #1c1c1c 70%);
  height: calc(100% + 50px);

  nav{
    padding-top: 35px;
    display: block;
    height: 100%;
    
    ul{
      list-style: none;

      li{
        display: flex;
        align-items: center;
        line-height: 40px;

        img{
          width: 30px;
          height: 30px;
          margin: 8px;
        }
        
      }
    }
  }
}
.cnc-span{
  display: none;
  color: #fff;
}
.cnc-ativo{
  background-color: #fff9;
}
.mc-btn-toggle{
  position: absolute;
  right: -15px;
  width: 15px;
  height: 40px;
  font-size: 30px;
  border-radius: 0 5px 5px 0;
  border: 0;
  top: 40px;
  background-color: #fff4;
  color: linear-gradient(to bottom, red 50%, #1c1c1c 50%);
}
.cnc-conteudo{
  grid-column: 2 / 3;
}
.cnc-perfil{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: #fff;

  .email-perfil{
    margin-bottom: 20px;
  }
}

.cnc-conteudo-escolhido{
  padding-top: 10px;
}
// MEU PERFIL
#meu-perfil, #configuracoes{
  background-color: #fff;

  div.label-float{
    padding-left: 10px;
    margin-block: 1.2rem;
    position: relative;

    label{
      pointer-events: none;
      color: #0009;
      transition: all .2s ease-out;
    }
    input{
      width: 100%;
      padding: 5px;
      display: inline-block;
      border: 0;
      border-bottom: 1px solid #0009;
      background-color: transparent;
      outline:none;                             /*tira a borda que é ativada o clicar*/
      min-width: 200px;
      font-size: 16px;
      transition: all .2s ease-out;
      border-radius: 0;
    }
  }
  
  .fa-eye{
    position: absolute;
    top: 0.7rem;
    right: 0.6rem;
    cursor: pointer;
  }
  .div-btn{

    button{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 150px;
      line-height: 2rem;
      padding: 0 5px;
      background-color: transparent;
      border-radius: 10px;
    }
  }
  #alterar-true{
    display: none;
  }
}

// MINHAS COMPRAS
#minhas-compras{
  width: 90%;
  margin-inline: 4%  6%;
  h3{
    margin-bottom: 25px;
  }
}
.compras-pedido{
  border-radius: 10px;
  border: 1px solid #0005;
  overflow: hidden;
  margin-block: 20px;

  button{
    display: block;
    width: 100%;
    border-top:1px solid #0005;
    color: #000;
  }
}
.top-compras-pedidos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0002;
  border-radius: 10px 10px 0 0;
  border: 1px solid #fff9;

  div{
    text-align: center;
    width: 40%;
    p{
      color: #000;
    }
    p:first-child{
      color: #0009;
      font-size: .9rem;
    }
  } 

  .emitido{
    padding: 5px;
  }
  .status{
    display: none;

  }
}
.prods-meus-pedidos{
  padding-block: 15px;

  .img-title{
    padding: 5px;
    display: flex;
    align-items: center;

    img{
      display: block;
      width: 50px;
    }
    h2{
      padding-inline: 5px;
      a{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
  .preco-qtd{
    display: none;
  }
}

// MEUS ENDEREÇOS
.item-endereco-mc{
  width: 92%;
  margin: 10px 3% 10px 2%;
  border-radius: 10px;
  border: 1px solid #0004;
  box-shadow: 2px 4px 10px #0004;
  padding: 5px;

  .nome-ende{
    padding: 5px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #0004;
    line-height: 1.6rem;
  }

  div h3,p{
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    letter-spacing: 1px;
  }
  .editar-excluir{
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid #0004;
    display: flex;
    justify-content: end;
    align-items: center;

    button{
      display: inline-block;
      width: 30px;
      margin-inline: 10px;
      img{
        width: 20px;
      }
    }
  }
}

@media screen and (min-width: 380px){
  #meu-perfil{
    width: 90%;
    margin: 0 7% 0 3%;
  }
}