.main-status-pagamento{
  padding-bottom: 40px;
  
  .top-status-pagamento{
    overflow: hidden;
    padding: 0 10px;
    height: 180px;

    h2{
      width: 200px;
      position: absolute;
      left: calc(50% - 100px);
      margin-top: 20px;
      text-align: center;
      font-weight: 600;
    }
  }
  .oQsignifica{
    cursor: pointer;
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
  }
  #descricao-status{
    display: none;
    margin-top: 30px;
    width: 90%;
    margin: 0 auto;

    p{
      color: red;
      padding-left: 1rem;
      line-height: 1.5rem;  
      text-align: center;
    }
  }
}

.container-status{
  padding: 0 15px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: overlay;

  .line-status{
    flex-shrink: 0;
    background-color: #0009;
    height: 5px;
    width: 90px;
  }
  .circle-status{
    flex-shrink: 0;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #0009;
    color: #fff;

    h3{
      position: absolute;
      top: 70px;
      color: black;
      font-size: 1rem;
      font-weight: 500;
      left: -22px;
      width: 120px;
      text-align: center;
    }
  }
  .c1{
    background-color: red;
  }
}
.icone-status-pag{
  width: 76%;
  height: 76%;
  margin: 12%;

  img{
    color: #fff;
    max-width: 100%;
    margin: 0 auto;
  }
}

.sobre-o-pedido{
  overflow: hidden;
  padding: 0 10px;

  .div-carrosel{
    overflow-x: overlay;

    .inf-pedido-pag{
      border-radius: 1rem;
      background-color: #0003;
      border: 1px solid #0003;
      min-width: 600px;
      margin: 20px auto;
    
      .top-info-pp{
        padding: 10px;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        font-size: .8rem;
        
        .h4-data, .p-data, .nf{
          display: none;
        }
       
        h4{
          font-size: .7rem;
          font-weight: 500;
        }
        .div-envio{
          position: relative;
          #apendice-endereco-pp{
            padding: 15px;
            display: none;
            position: absolute;
            top: 20px;
            background-color: #fff;
            border: 1px solid #0005;
            border-radius: .8rem;

            p{
              margin-block: 5px;
              line-height: 1.3rem;
            }
          }
          .envio{
            border: 0;
            background-color: transparent;
            color: darkblue;
            text-decoration: underline;
            cursor: pointer;
            font-size: .8rem;
          }
        }
      }
      .produtos-do-pedido{
        
        .card-pp{
          background-color: #fff;
          width: 100%;
          padding: 7px 10px;
          border: 1px solid #0004;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          img{
            width: 90px;
            
          }
        }
        .nome-prod{
          font-size: 1rem;
          font-weight: 500;
        }
      }
    } 
  }
}
.produtos-do-pedido > :last-child{
  border-radius:0 0 .9rem .9rem;
}
   
@media screen and (min-width: 720px){
  .sobre-o-pedido{
    .div-carrosel{
      .inf-pedido-pag{
        .top-info-pp{
          grid-template-columns: 2fr 2fr 3fr 3fr;
          .h4-data, .p-data{
            display: block;
          }
        }
      }
    }
  }
} 

@media screen and (min-width: 990px){
  .sobre-o-pedido{
    .div-carrosel{
      .inf-pedido-pag{
        width: 80%;
        .top-info-pp{
          font-size: .9rem;
          h4{
            font-size: .8rem;
          }
          .nf{
            display: inline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px){
  .container-status{
    justify-content: start;
  }
}
