<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100;300;500&family=Wix+Madefor+Display:wght@500;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Wix+Madefor+Display:wght@500;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Madetex</title>
</head>
<body>
  <header id="home">

    <div class="container-header">

      <div class="container-header-top">

        <div class="area-logo">
          <div class="logo-grande">
            <svg height="30" width="165">
              <path d="M 5 35 l 80 -30" stroke="red" stroke-width="13" fill="none" />
              <path d="M 80 5 l 80 30" stroke="red" stroke-width="13" fill="none" />
            </svg>
            <svg height="30" width="165">
              <a href="./index.html">
                <text x="4" y="24" stroke="3" fill="red">MADETEX</text>
              </a>
            </svg>
          </div>
          <div class="logo-pequeno">
            <svg height="25" width="130">
              <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
              <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
            </svg>
            <svg height="23" width="130">
              <a class="logo" href="./index.html">
                <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
              </a>
            </svg>
          </div>
        </div>

        <div class="area-pesquisa">
          <input type="text" placeholder="Busque por vigamentos, movéis e mais... ">
          <ul></ul>
          <div>
            <button>
              <svg height="35" width="35">
                <circle cx="16" cy="15" r="8" stroke="red" stroke-width="2" fill="#fff" />
                 <line x1="21" y1="22" x2="27" y2="30" style="stroke:red; stroke-width:2" />
              </svg>
            </button>
          </div>
        </div>

        <div class="area-usuario">

          <div class="usuario">

            <div id="apendice-cadastrese">
              <p>Entre ou Cadastre-se para comprar e acompanhar seus pedidos :D</p>
              <button class="entre"> <a href="./views/login.html">Entre</a></button>
              <button><a href="./views/cadastrese.html">Cadastre-se</a></button>
            </div>

            <div class="svg-user">
              <svg height="35px" width="35px">
                <circle cx="17.5" cy="17.5" r="16" stroke="red" stroke-width="1.5" fill="#1c1c1c" />
                <circle cx="17.5" cy="12" r="4" stroke="red" stroke-width="1.5" fill="#1c1c1c" />
                <path d="M 8 27 q 10 -14 19 0" stroke="red" stroke-width="1.5" fill="none" />
                <line x1="7.62" y1="26.8" x2="27.48" y2="26.8" style="stroke:red; stroke-width:1.5" />
              </svg>
            </div>
            <div class="mensagem-login">
              <p>Olá! faça login</p> 
              <p>ou cadastre-se </p>
            </div>

          </div>

          <div class="carrinho-de-compras">
            <div class="itens-no-carrinho">0</div>
            <svg height="35px" width="35px">
              <line x1="1" x2="7.5" y1="5" y2="5" style="stroke:red; stroke-width:1.5;" />   <!-- onde segura -->
              <line x1="7" x2="10" y1="4.5" y2="25" style="stroke:red; stroke-width:1.5;" /> <!--Primeira linha vertical -->
              <line x1="7" x2="29.2" y1="9" y2="9" style="stroke:red; stroke-width:1.5;" />  <!--Primeira linha horizontal-->
              <line x1="8" x2="27" y1="14" y2="14" style="stroke:red; stroke-width:1.5;" />  <!--Segunda linha horizontal-->
              <line x1="12.5" x2="14" y1="9" y2="20" style="stroke:red; stroke-width:1.5;"/> <!--Segunda linha vertical -->
              <line x1="18" x2="18" y1="9" y2="20" style="stroke:red; stroke-width:1.5;" />  <!--Terceira linha vertical-->
              <line x1="24" x2="21.5" y1="9" y2="20" style="stroke:red; stroke-width:1.5;"/> <!--Quarta linha vertical-->
              <line x1="10" x2="26" y1="20" y2="20" style="stroke:red; stroke-width:1.5;" /> <!--Terceira linha Horizontal-->
              <line x1="28.5" x2="25" y1="9" y2="20" style="stroke:red; stroke-width:1.5;"/> <!--Quinta linha vertical-->
              <line x1="10" x2="25" y1="24" y2="24" style="stroke:red; stroke-width:1.5;" />
              <circle cx="12" cy="29" r="1.5" stroke="red" stroke-width="1.5" fill="red" />
              <circle cx="22" cy="29" r="1.5" stroke="red" stroke-width="1.5" fill="red" />
            </svg> 
          </div>
          
          <button  id="btn-menu" class="menu-hamburguer">
            <div></div>
            <div></div>
            <div></div>
          </button>

        </div>

      </div>

     <div class=" closed container-header-bottom">

      <div class="categorias">
        <p>Categorias <span>&#10095</span></p>
      </div>

      <div class="nav-header-bottom">
        <nav>
          <ul>
            <li><a href="./produtos.html?subCategoria=vigamentos">Vigamentos</a></li>
            <li><a href="./produtos.html?subCategoria=telhas">Telhas</a></li>
            <li><a href="./produtos.html?subCategoria=portasEjanelas">Portas e Janelas</a></li>
            <li class="penultimo"><a href="./produtos.html?subCategoria=tabuas">Tabuas</a></li>
            <li class="ultimo"><a href="./produtos.html?subCategoria=compensadosEmadeirites">Compensados e Madeirites</a></li>
          </ul>
        </nav>
      </div>

      <div class="oferta-dia">
        <p><strong>Ofertas do dia</strong></p>
      </div>

     </div>

    </div>
   
  </header>

  <div id="menu-mobile" class="container-menu">

    <button id="btn-x" class="x">
      <div class="one"></div>
      <div class="two" ></div>
    </button>

    <div class="area-usuario-menu">
      <div class="img-usuario">
        <img src="" alt="usuario">
      </div>
    </div>

    <div class="area-botoes-menu">
      <button class="entre">Entre</button>
      <button>Faça Login</button>
    </div>
    
    <div class="area-nav-menu">
      <nav>
        <ul>
          <li> <a href="#">Minhas Compras</a></li>
          <li> <a href="#"> Todas as Categotias </a></li>
          <li> <a href="#"> Vigamento </a></li>
          <li> <a href="#"> Telhas </a></li>
          <li> <a href="#"> Forro </a></li>
          <li><a href="#">  Moveis </a></li>
          <li> <a href="#"> Acessórios </a></li>
          <li> <a href="#"> Churrasqueiras </a></li>
          <li> <a href="#"> Tintas e Verniz</a> </li>
          <li> <a href="#"> Configurações </a></li>
        </ul>
      </nav>
    </div>

  </div>

  <main class="main-produtos">
    
    <section id="categoria-escolhida">

    </section>

  </main>


</body>
<script src="../js/ferramentas.js"></script><script src="../js/header.js"></script><script src="../js/produtos/produtos.js"></script>
</html>