<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100;300;500&family=Wix+Madefor+Display:wght@500;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Wix+Madefor+Display:wght@500;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Madetex</title>
</head>
<body>

  <header>

    <div class="container-header">

      <div class="container-header-top">

        <div class="area-logo">
          <div class="logo-grande">
            <svg height="30" width="165">
              <path d="M 5 35 l 80 -30" stroke="red" stroke-width="13" fill="none" />
              <path d="M 80 5 l 80 30" stroke="red" stroke-width="13" fill="none" />
            </svg>
            <svg height="30" width="165">
              <a href="../../index.html">
                <text x="4" y="24" stroke="3" fill="red">MADETEX</text>
              </a>
            </svg>
          </div>
          <div class="logo-pequeno">
            <svg height="25" width="130">
              <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
              <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
            </svg>
            <svg height="23" width="130">
              <a class="logo" href="../../index.html">
                <text x="8" y="16" stroke="3" fill="red">MADETEX</text>
              </a>
            </svg>
          </div>
        </div>

        <form onsubmit="return false;" class="area-pesquisa">
          <input id="input-pesquisa" autocomplete="off" onkeyup="pesquisarEnter(event); filtrarSugestoesProd();" type="text" placeholder="Busque por vigamentos, telhas e mais... ">
          <ul></ul>
          <div>
            <button type="button" onclick="pesquisar()">
              <svg height="35" width="35">
                <circle cx="16" cy="15" r="8" stroke="red" stroke-width="2" fill="#fff" />
                 <line x1="21" y1="22" x2="27" y2="30" style="stroke:red; stroke-width:2" />
              </svg>
            </button>
          </div>
        </form>

        <div class="area-usuario">

          <div class="usuario">
            
            <div id="apendice-logado">
              <a href="/src/views/compra/statusEpagamento.html">Meus Pedidos</a>
              <a href="/src/views/minhaConta.html">Minha Conta</a> 
              <a href="/src/views/contato.html">Ajuda</a>
              <a style="color: red; cursor: pointer;" onclick="sair()">Sair</a>
            </div>

            <div class="svg-user">
              <svg height="35px" width="35px">
                <circle cx="17.5" cy="17.5" r="16" stroke="red" stroke-width="1.5" fill="#1c1c1c" />
                <circle cx="17.5" cy="12" r="4" stroke="red" stroke-width="1.5" fill="#1c1c1c" />
                <path d="M 8 27 q 10 -14 19 0" stroke="red" stroke-width="1.5" fill="none" />
                <line x1="7.62" y1="26.8" x2="27.48" y2="26.8" style="stroke:red; stroke-width:1.5" />
              </svg>
            </div>
            <div class="svg-user-grande">
              <svg height="50px" width="50px">
                <circle cx="24.5" cy="24.5" r="23" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
                <circle cx="24.5" cy="15" r="6" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
                <path d="M 13 34 q 12 -15 24 0" stroke="red" stroke-width="2" fill="none"></path>
                <line x1="11.62" y1="34.8" x2="38.48" y2="34.8" style="stroke:red; stroke-width:2"></line>
              </svg>
            </div>
            <div class="mensagem-login">
              <div>
                <p>Olá! faça login</p> 
                <p>ou cadastre-se </p>
              </div>
            </div>

          </div>

          <div class="carrinho-de-compras">
            <div class="itens-no-carrinho">0</div>
            <a>
              <svg class="carrinho-p" height="35px" width="35px">
                <line x1="1" x2="7.5" y1="5" y2="5" style="stroke:red; stroke-width:1.5;" /> <!-- onde segura -->
                <line x1="7" x2="10" y1="4.5" y2="25" style="stroke:red; stroke-width:1.5;" />
                <!--Primeira linha vertical -->
                <line x1="7" x2="29.2" y1="9" y2="9" style="stroke:red; stroke-width:1.5;" />
                <!--Primeira linha horizontal-->
                <line x1="8" x2="27" y1="14" y2="14" style="stroke:red; stroke-width:1.5;" />
                <!--Segunda linha horizontal-->
                <line x1="12.5" x2="14" y1="9" y2="20" style="stroke:red; stroke-width:1.5;" />
                <!--Segunda linha vertical -->
                <line x1="18" x2="18" y1="9" y2="20" style="stroke:red; stroke-width:1.5;" />
                <!--Terceira linha vertical-->
                <line x1="24" x2="21.5" y1="9" y2="20" style="stroke:red; stroke-width:1.5;" />
                <!--Quarta linha vertical-->
                <line x1="10" x2="26" y1="20" y2="20" style="stroke:red; stroke-width:1.5;" />
                <!--Terceira linha Horizontal-->
                <line x1="28.5" x2="25" y1="9" y2="20" style="stroke:red; stroke-width:1.5;" />
                <!--Quinta linha vertical-->
                <line x1="10" x2="25" y1="24" y2="24" style="stroke:red; stroke-width:1.5;" />
                <circle cx="12" cy="29" r="1.5" stroke="red" stroke-width="1.5" fill="red" />
                <circle cx="22" cy="29" r="1.5" stroke="red" stroke-width="1.5" fill="red" />
              </svg>
              <svg class="carrinho-g" height="50px" width="50px">
                <line x1="14.5" x2="3" y1="1" y2="1" style="stroke:red; stroke-width:3;" ></line>   <!-- onde segura -->
                <line x1="13" x2="16" y1="1.5" y2="30" style="stroke:red; stroke-width:3;"></line> <!--Primeira linha vertical -->
                <line x1="13" x2="43.2" style="stroke:red; stroke-width:3;" y1="7.5" y2="7.5"></line>  <!--Primeira linha horizontal-->
                <line x1="13" x2="41" y1="16" y2="16" style="stroke:red; stroke-width:2;"></line>  <!--Segunda linha horizontal-->
                <line x1="19.5" x2="21" y1="6" y2="23" style="stroke:red; stroke-width:2;"></line> <!--Segunda linha vertical -->
                <line x1="27" x2="27" y1="6" y2="23" style="stroke:red; stroke-width: 2;"></line>  <!--Terceira linha vertical-->
                <line x1="35" x2="32.5" y1="6" y2="23" style="stroke:red; stroke-width:2;"></line> <!--Quarta linha vertical-->
                <line x1="14" x2="39" y1="24" y2="24" style="stroke:red; stroke-width:3;"></line> <!--Terceira linha Horizontal-->
                <line x1="41.5" x2="39" y1="7" style="stroke:red; stroke-width:3;" y2="25"></line> <!--Quinta linha vertical-->
                <line x1="14.5" x2="37" y1="30" y2="30" style="stroke:red; stroke-width:3;"></line>
                <circle cx="18" cy="37" r="2.5" stroke="red" stroke-width="1.5" fill="red"></circle>
                <circle cx="32" cy="37" r="2.5" stroke="red" stroke-width="1.5" fill="red"></circle>
              </svg>
            </a>
          </div>
          
          <button  id="btn-menu" class="menu-hamburguer menu-hamburguer-header">
            <div></div>
            <div></div>
            <div></div>
          </button>

        </div>

      </div>

     <div class=" closed container-header-bottom">

      <div class="categorias">
        <p>Categorias <span class="seta">&#10095</span></p>
        <ul id="nav-categorias">
          <li><a href="./produtos.html?param=vigamentos&column=sub_categoria">Vigamentos</a></li>
          <li><a href="./produtos.html?param=janelas&column=sub_sub_categoria">Janelas</a></li>
          <li><a href="./produtos.html?param=telhas de barro&column=sub_categoria">Telhas de Barro</a></li>
          <li><a href="./produtos.html?param=telhas de fibrocimento&column=sub_categoria">Telhas de Fibrocimento</a></li>
          <li><a href="./produtos.html?param=telhas de concreto&column=sub_categoria">Telhas de Concreto</a></li>
          <li><a href="./produtos.html?param=decks&column=sub_categoria">Decks</a></li>
          <li><a href="./produtos.html?param=cambara&column=madeira">Madeira Cambara</a></li>
          <li><a href="./produtos.html?param=peroba&column=madeira">Madeira Peroba</a></li>
          <li><a href="./produtos.html?param=pinus&column=madeira">Madeira Pinus</a></li>
          <li><a href="./produtos.html?param=mista&column=madeira">Madeira Mista</a></li>
          <li><a href="./produtos.html?param=cedro&column=madeira">Madeira Cedro</a></li>
          <li><a href="./produtos.html?param=eucalipto&column=madeira">Madeira Eucalipto</a></li>
          <li><a href="./produtos.html?param=forro&column=sub_categoria">Forro de Madeira</a></li>
          <li><a href="./produtos.html?param=chapas de madeira&column=categoria">Chapas de Madeira</a></li>
          <!-- <li><a href="./produtos.html?param=tintas&column=categoria">Verniz e Polistem</a></li>
          <li><a href="./produtos.html?param=pregos e parafusos&column=sub_categoria">Pregos e parafusos</a></li> -->
        </ul>
      </div>

      <div class="nav-header-bottom">
        <nav>
          <ul>
            <li><a href="./produtos.html?param=vigamentos&column=sub_categoria">Vigamentos</a></li>
            <li><a href="./produtos.html?param=telhas&column=categoria">Telhas</a></li>
            <li class="penultimo"><a href="./produtos.html?param=pinus&column=madeira">Madeira Pinus</a></li>
            <li class="ultimo"><a href="./produtos.html?param=chapas de madeira&column=categoria">Compensados e Madeirites</a></li>
          </ul>
        </nav>
      </div>

      <div class="oferta-dia">
        <a href="./produtos.html?param=1&column=oferta">Ofertas do dia</a>
      </div>

     </div>

    </div>
   
  </header>

  <div id="menu-mobile" class="container-menu">

    <button id="btn-x" class="x">
      <div class="one"></div>
      <div class="two"></div>
    </button>

    <div class="area-usuario-menu">
      <div class="img-usuario">
        <svg height="50px" width="50px">
          <circle cx="24.5" cy="24.5" r="23" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
          <circle cx="24.5" cy="15" r="6" stroke="red" stroke-width="2" fill="#1c1c1c"></circle>
          <path d="M 13 34 q 12 -15 24 0" stroke="red" stroke-width="2" fill="none"></path>
          <line x1="11.62" y1="34.8" x2="38.48" y2="34.8" style="stroke:red; stroke-width:2"></line>
        </svg>
      </div>
      <p>Olá! faça login ou cadastre-se</p>
    </div>

    <div class="area-botoes-menu">
      <section class="btns-default">
        <div>
          <button class="btn-left-menu"><a href="./src/views/user/login.html">Entre</a></button>
          <button class="btn-right-menu"><a href="./src/views/user/cadastrese.html">Cadastre-se</a></button>
        </div>
      </section>
      <section class="btns-logado">
        <div>
          <button class="btn-left-menu"  onclick="sair()" class="entre">sair</button>
          <button class="btn-right-menu" ><a href="./src/views/minhaConta.html">Minha conta</a></button></a>
        </div>
      </section>
    </div>

    <div class="area-nav-menu">
      <nav>
        <ul>
          <li> <a href="./minhaConta.html">Minhas Compras</a></li>
          <li><a href="./produtos.html?param=portas&column=sub_sub_categoria">Portas</a></li>
          <li> <a href="./produtos.html?param=janelas&column=sub_sub_categoria">Janelas</a></li>
          <li> <a href="./produtos.html?param=decks&column=sub_categoria">Decks</a></li>
          <li> <a href="./produtos.html?param=telhas&column=categoria"> Telhas </a></li>
          <li> <a href="./produtos.html?param=forro&column=sub_categoria"> Forros </a></li>
          <li> <a href="./produtos.html?param=vigamentos&column=sub_categoria"> Vigamentos </a></li>
          <li> <a href="./produtos.html?param=cambara&column=madeira">Madeira cambará</a></li>
          <li> <a href="./produtos.html?param=peroba&column=madeira">Madeira peroba</a></li>
          <li> <a href="./produtos.html?param=pinus&column=madeira">Madeira pinus</a></li>
          <li> <a href="./produtos.html?param=cedro&column=madeira">Madeira cedrinho</a></li>
          <li> <a href="./produtos.html?param=acessorios&column=categoria"> Acessórios </a></li>
          <!-- <li> <a href="#"> Churrasqueiras </a></li>
          <li> <a href="#"> Tintas e Verniz</a> </li> -->
        </ul>
      </nav>
    </div>

  </div>

  <main class="main-produto">

    <section class="section-produto-solo">

      <div class="galeria">

        <div class="coluna-fotos"> </div>

        <div class="fotao">
          <img src="" alt="Foto do produto">
        </div>

      </div>

      <div class="descricao">
  
        <h1></h1>
        <span class="preco-antigo"></span>
        <h2>
          <span class="precao"></span>
          <span class="condicao green"></span>
        </h2>
        <p>ou 
          <span class="preco-parcelado"></span> 
          <span class="parcelamento green">em até 10x</span>
        </p>
        <button id="btn-formas-pag" class="btn-prod-solo"><span class="setinha">&#10095</span> ver formas de pagamento </button>
        <ul id="formas-pag"></ul>
        <div class="sobre">
          <h3>Sobre o produto</h3>
            <ul></ul>
        </div>
      </div>

      <div class="entrega-pagamento">

        <span class="frete green">Frete grátis </span>
        <p class="regiao gray"> Para a região de <span>Jundiai-SP</span></p>
        <button class="btn-cidades-frete-gratis btn-prod-solo"> <span class="seta-frete-gratis">&#10095</span> Ver cidades com frete grátis </button>
        <ul id="cidades-frete-gratis"></ul>  
        <p style="color: #0009;"> Não está nessa região ? entre em contato conosco <a class="btn-prod-solo" href="/src/views/contato.html">aqui</a> para saber o frete</p>
        <p class="retire"><span class="green">Retire grátis </span> em <span class="loja">Madetex Campo Limpo Pta</span> </p>
        <a target="_blank" class="link-mapa btn-prod-solo">ver no mapa</a>
        <p class="gray entregue">Vendido e entregue por <span>Madetex Campo Limpo Pta</span></p>
        <p>Estoque disponível  <span class="gray estoque"> </span></p>

        <p class="quantidade">
          <span class="label-qtd">Quantidade: </span> 
          <input autocomplete="off" type="number" id="quantidade" value="1">
        </p>

        <div class="aparelhada">
          <input type="checkbox" name="aparelhada" id="aparelhada">
          <label for="aparelhada">Aparelhada</label>
        </div>

        <div class="pecas">
        <label for="pecas">Quantidade de Peças: </label>
        <input value="1" type="number" name="pecas" id="pecas"> 
        </div>

        <div class="comprimento">
          <label for="comprimento">Comprimento: </label>
          <select name="comprimento" id="comprimento">
            <option value="1">1,00</option>
            <option value="1.5">1,50</option>
            <option value="2">2,00</option>
            <option value="2.5">2,50</option>
            <option value="3">3,00</option>
            <option value="3.5">3,50</option>
            <option value="4">4,00</option>
            <option value="4.5">4,50</option>
            <option value="5">5,00</option>
            <option value="5.5">5,50</option>
            <option value="6">6,00</option>
            <option value="6.5">6,50</option>
            <option value="7">7,00</option>
          </select>
          Metros
        </div>

        <div class="medidas">
          <span class="label-medidas">Medida: </span>
          <select name="medida" id="medida"></select>
        </div>

        <button class="comprar">Comprar agora</button>
        <button class="add-carrinho">Adicionar ao carrinho</button>
      </div>

      <button class="btn-prod-solo ver-mais">mais informações sobre o produto <span class="seta-baixo">&#10095</span></button>
      <div class="detalhes-mobile"></div>
    </section>

    <section id="recomendados">
      <h2 class="titulo-carrosel-produtos">Produtos Relacionados</h2>
    </section>

  </main>

  <div class="ape-faca-login card-ape-alert">
    <p class="fechar"><button class="x"  onclick="fechar('.ape-faca-login')">x</button></p>
    <h3 class="msg-ape">Faça login para continuar</h3>
    <button class="btn-red-ape"><a href="/src/views/user/login.html">Entre</a></button>
    <button class="btn-black-ape"><a href="/src/views/user/cadastrese.html">Cadastre-se</a></button>
  </div>

  <div class="ape-irPcarrinho card-ape-alert">
    <p class="fechar"><button class="x"  onclick="fechar('.ape-irPcarrinho')">x</button></p>
    <h3 class="msg-ape">Ir para o carrinho ?</h3>
    <button class="btn-red-ape btn-solo"><a href="/src/views/carrinho.html">Carrinho</a></button>
  </div>

  <div class="alert-prod-difer-prodSolo card-ape-alert">
    <p class="fechar"><button class="x"  onclick="fechar('.alert-prod-difer-prodSolo')">x</button></p>
    <h3 class="msg-ape 'msg-red">Você só poderá comprar de uma loja por vez</h3>
    <p class="p-msg-ape">Já tem produtos de outra loja no seu carrinho, você pode adiciona-los mas só pode finalizar a compra de uma loja por vez.</p>
  </div>

  <script src="/src/js/ferramentas.js"></script>
  <script src="/src/js/header.js"></script>
  <script src="/src/js/services/servicesProduto.js"></script>
  <script src="/src/js/produtos/produtoSolo.js"></script>
  <script src="/src/js/produtos/abrirProduto.js"></script>
  <script src="/src/js/user/atualizarDados.js"></script>
  <script src="/src/js/footer.js"></script>
</body>
</html>