<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Madetex - Login </title>
</head>
<body>
  <header class="header-apendices">
      <div class="logo-apendices">
        <svg height="25" width="130">
          <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
          <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
        </svg>
        <svg height="23" width="130">
          <a class="logo" href="../../../index.html">
            <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
          </a>
        </svg>
      </div>
    </header>
  <form class="card-entre">
    
    <h1>alterar senha</h1>
    
    <div>
      <label for="email">Email:</label>
      <input id="email" name="email" type="text">
      <sup class="msg-email"></sup>
    </div>


    <p>Um email com um link de alteração será enviado para seu email</p>

    <div class="flex-center">
      <button class="btn-entre" type="button" onclick="alterarSenha()">Continuar</button>
    </div>
    
  </form>

 <script src="../../js/user/alterarSenha.js"></script>
</body>
</html>