<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Madetex - alterar senha </title>
</head>
<body>
  <header class="header-apendices">
      <div class="logo-apendices">
        <svg height="25" width="130">
          <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
          <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
        </svg>
        <svg height="23" width="130">
          <a class="logo" href="../../../index.html">
            <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
          </a>
        </svg>
      </div>
  </header>
  <form class="card-entre">
    
    <h1>alterar senha</h1>
    <p class="msg-senha-difer"></p>
    <div>
      <label for="nSenha">Nova senha:</label>
      <i class="fa fa-eye" onclick="mostrarSenha('#nSenha')" aria-hidden="true"></i>
      <input id="nSenha" name="nSenha" type="password">
    </div>
    <div>
      <label for="senha">confirme a nova senha:</label>
      <i class="fa fa-eye" onclick="mostrarSenha('#senha')" aria-hidden="true"></i>
      <input id="senha" name="senha" type="password">
    </div>

    <div class="flex-center">
      <button class="btn-entre" type="button" onclick="alterarSenhaTwo()">Alterar senha</button>
    </div>
    
  </form>

 <script src="../../js/ferramentas.js"></script>
 <script src="../../js/user/alterarSenha.js"></script>
</body>
</html>