<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Madetex - Login </title>
</head>
<body>
  <header class="header-apendices">
      <div class="logo-apendices">
        <svg height="25" width="130">
          <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
          <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
        </svg>
        <svg height="23" width="130">
          <a class="logo" href="../../../index.html">
            <text x="8" y="16" stroke="3" fill="red">MADETEX</text>
          </a>
        </svg>
      </div>
    </header>
  <form class="card-entre">
    
    <h1>Entrar</h1>
    
    <div>
      <label for="email">E-mail</label>
      <input id="email" name="email" type="text">
      <sup class="sup-msg-erro"></sup>
    </div>

    <div>
      <label for="senha">Senha</label>
      <i class="fa fa-eye" onclick="mostrarSenha('#senha')" aria-hidden="true"></i>
      <input id="senha" name="senha" type="password">
      <sup class="sup-msg-erro"></sup>
    </div>

    <p class="msg-esqueceu-senha">Esqueceu sua senha ? Clique <a href="https://www.madetex.com.br/src/views/user/alterarSenha.html">aqui</a> para redefini-la</p>
    <p>Não tem uma conta ? <a href="./cadastrese.html">Cadastre-se</a></p>

    <div class="flex-center">
      <button class="btn-entre" type="button" onclick="entrar()">Continuar</button>
    </div>
    
    <p>Ao continuar com o login você comcorda com nossa <a href="#">Politica de privacidade</a></p>
    
  </form>

 <script src="../../js/ferramentas.js"></script>
 <script src="../../js/user/login.js"></script>
</body>
</html>