<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Controle - Central de contato</title>
</head>
<body>
  <header class="header-apendices">
    <div class="logo-apendices">
      <svg height="25" width="130">
        <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
        <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
      </svg>
      <svg height="23" width="130">
        <a class="logo" href="../index.html">
          <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
        </a>
      </svg>
     </div>
  </header>

  <main class="cental-contato">
    <section class="todas-mensagens">
      <ul>
        <li>Pendentes</li>
        <li>Em atendimento</li>
        <li>Finalizadas</li>
      </ul>

      <div id="mensagens"></div>
    </section>

    <section class="mensagem-atual"></section>
  </main>
</body>
</html>