<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Madetex - Controle</title>
</head>
<body>
  <header class="header-apendices">
    <div class="logo-apendices">
      <svg height="25" width="130">
        <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
        <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
      </svg>
      <svg height="23" width="130">
        <a class="logo" href="../index.html">
          <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
        </a>
      </svg>
     </div>
  </header>

  <main id="main-controle">

    <section id="menu-controle">

      <ul class="tree">
        <li>
          <span>Adicionar Produto</span>
          <ul style="display: none;">
            <li onclick="carregarElemento('/views/apendices/formAddProd.html', 'conteudo-controle' )" class="item">Produto Comum</li>
          </ul>
        </li>
        <li>
          <span>Exibir Produtos</span>
          <ul style="display: none;">
            <li onclick="carregarProdutos('Madetex Jundiai', 'loja')" class="item">Jundiai</li>
            <li onclick="carregarProdutos('Madetex Campo Limpo Pta', 'loja')" class="item">Campo Limpo Pta</li>
            <li onclick="carregarProdutos('Madetex Itupeva', 'loja')" class="item">Itupeva</li>
            <li onclick="carregarProdutos('Madetex Mogi Mirim', 'loja')" class="item">Mogi Mirim</li>
          </ul>
        </li>
      </ul>

      <button id="selecionador">Select</button>
    </section>

    <section id="conteudo-controle"></section>
  </main>

  
  <script src="../../js/ferramentas.js"></script>
  <script src="../../js/controle/controle.js">

  </script>
</body>
</html>