<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <title>Madetex - Controle</title>
</head>
<body>

  <header class="header-apendices">
    <div class="logo-apendices">
      <svg height="25" width="130">
        <path d="M 5 30 l 65 -25" stroke="red" stroke-width="10" fill="none" />
        <path d="M 66 5 l 58 25" stroke="red" stroke-width="10" fill="none" />
      </svg>
      <svg height="23" width="130">
        <a class="logo" href="../../../index.html">
          <text x="8" y="20" stroke="3" fill="red">MADETEX</text>
        </a>
      </svg>
     </div>
  </header>
 
  <ul class="nav-controle">
    <li onclick="abrirAbaPedidos()">Pedidos</li>
    <li onclick="carregarElemento('/src/views/apendices/formAddProd.html', 'conteudo-controle' )">Adicionar produtos</li>
    <li onclick="carregarProdutos('Madetex Campo Limpo Pta', 'loja')">Exibir Produtos</li>
    <li><a href="./centralDeContato.html">Central de contato</a></li>
    <li><button id="selecionador">Select</button></li>
  </ul>

  <nav id="nav-exibir-prod">
    <ul class="nav-exibir-prod">
      <li onclick="carregarProdutos('Madetex Jundiai', 'loja')" class="item">Jundiai</li>
      <li onclick="carregarProdutos('Madetex Campo Limpo Pta', 'loja')" class="item">Campo Limpo Pta</li>
      <li onclick="carregarProdutos('Madetex Itupeva', 'loja')" class="item">Itupeva</li>
      <li onclick="carregarProdutos('Madetex Mogi Mirim', 'loja')" class="item">Mogi Mirim</li>
    </ul>
  </nav>

  <main id="main-controle">
    <section id="conteudo-controle"></section>
  </main>

  
  <script src="../../js/ferramentas.js"></script>
  <script src="../../js/controle/controle.js"></script>
  <script src="/src/js/controle/controlePedido.js"></script>
</body>
</html>