<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Editar Produto</title>
</head>
<body>
  <form  class="form-adicionar-produto" >

    <div class="form-prod-nome">
      <input placeholder="Nome" id="nome" type="text" name="nome">
    </div>

    <div class="form-prod-madeira">
      <input placeholder="Madeira" id="madeira" type="text" name="madeira">
    </div>

    <div class="form-prod-categoria">
      <input placeholder="Categoria" id="categoria" type="text" name="categoria">
    </div>

    <div class="form-prod-sub-categoria">
      <input placeholder="Sub Categoria" id="sub-categoria" type="text" name="sub-categoria">
    </div>

    <div class="form-prod-sub-sub-categoria">
      <input placeholder="Sub Sub Categoria" id="sub-sub-categoria" type="text" name="sub-sub-categoria">
    </div>

    <div class="form-prod-preco">
      <input placeholder="preço" id="preco" type="text" name="preco">
    </div>

    <div class="form-prod-desconto">
      <input type="text" placeholder="desconto em numero" id="desconto" name="desconto">
    </div>

    <div class="form-prod-condicao">
      <input type="text" placeholder="condicao de pag do desconto" id="condicao" name="condicao">
    </div>

    <div class="form-prod-pagamento">
      <input type="text" placeholder="Formas de pagamento separado por '/' " id="pagamento" name="pagamento">
    </div>

    <div class="form-prod-quantidade">
      <input placeholder="quantidade" id="quantidade" type="text" name="quantidade" >
    </div>

    <div class="form-prod-galeria">
      <input placeholder="até 5 imagems separadas por '/'" id="galeria" type="text" name="galeria">
    </div>

    <div class="form-prod-lista">
      <textarea name="lista" id="lista" placeholder="Lista de descrição separadas por '/' " cols="90" rows="4"></textarea>
    </div>

    <div class="form-prod-descricao">
     <textarea name="descricao" id="descricao" placeholder="descricao grande do prduto" cols="90" rows="6"></textarea>
    </div>

    <div class="form-prod-variacao">
      <textarea name="variacao" id="variacao" placeholder="medida /./ preco / medida /./ preco / ..." cols="90" rows="4"></textarea>
    </div>

    <div class="form-prod-tipo-variacao">
      <select id="tipo-variacao">
        <option value="comum">Comum</option>
        <option value="apQtd">Ap + Quantidade</option>
        <option value="apComp">Ap + comprimeto</option>
        <option value="apMed">Ap + medidas</option>
        <option value="medidas">medidas</option>
      </select>
    </div>

    <div class="form-prod-madetex">
      <select id="loja">
        <option value="Madetex Jundiai">Jundiaí</option>
        <option value="Madetex Campo Limpo Pta">Campo Limpo Pta</option>
        <option value="Madetex Itupeva">Itupeva</option>
        <option value="Madetex Mogi Mirim">Mogi Mirim</option>
    </select>
    </div>

    <div class="form-prod-oferta">
      <input type="number" id="oferta" name="oferta" placeholder="oferta: 1 = sim, 0 = não">
    </div>

   <div class="form-prod-btn" >
    <button id="btn-put" type="button" onclick="editarProduto()">Editar</button>
   </div>

  </form>

<script src="../../js/controle/editarProduto.js"></script>
</body>
</html>